#top_choice{
    font-size: 25px;
    color: lightgoldenrodyellow;
}

#second_choice{
    font-size: 23px;
    color: gold;
}
#third_choice{
    font-size: 20px;
    color: gold;
}


#header_list{
    padding-left: 10px;
    font-size: 30px;
    font-family: cursive;
    color: white;
}
#into{
    text-align: center;
    font-family: cursive;
    font-size: 60px;
    color: white;

}
#link{
    text-align: center;
    padding-bottom: 15px;
}
.listing{
    font-size: 19px;
    color: white;
    border: 2px solid white;
   
}
body{
    background-image: url("IMG_9392.JPG");
}
a:link {
    color: lightcoral;
    font-size: 30px;
  }
  
  /* visited link */
  a:visited {
    color: lightgreen;
    font-size: 30px;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    font-size: 30px;
  }
  
  /* selected link */
  a:active {
    color: aquamarine;
    font-size: 30px;
  }

